<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button class="white-button" type="button" name="button">
					<i class="fa fa-bars"></i>
					<span>sections</span>
				</button>
			</li>
			<li id="search-modal-btn">
				<button class="white-button" type="button" name="button">
					<i class="fa fa-search"></i>
					<span>search</span>
			</button>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li>
				<button type="button" name="button">Subscribe Now</button>
			</li>
			<li>
				<button type="button" name="button">Log In</button>
			</li>
			<li>
				<button id="gear-dropdown-btn" class="white-button" type="button" name="button">
					<i class="fa fa-cog"></i>
				</button>
				<%= render partial: 'shared/gear_dropdown' %>
			</li>
		</ul>
	</nav>
</header>
